/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/web/
*.php~
.idea
.DS_Store
/app/build
/cache.properties

